.background {
  background-image: url("https://letdream.ap-south-1.linodeobjects.com/opendream.ori/4944764cfbe909488b_0.jpg"); /* Adjust the path to your image */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set height to cover the entire viewport */
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  padding: 80px;
}

/* Typography */
.weather-heading {
  color: rgb(31, 31, 110);
  text-align: center;
  margin-bottom: 20px;
}

/* TextField */
.weather-input {
  width: 100%;
  background: #fff;
  border: 2px solid black;
}

/* Button */
.weather-button {
  width: 10%;
  border: 1px solid black;
  border-radius: 5px;
  background: none;
}

/* Media Queries for responsiveness */
@media screen and (min-width: 600px) {
  /* For larger screens, adjust grid layout */
  .weather-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .weather-heading {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }
}

.css-1bn4tuo-MuiTypography-root {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  text-align: center;
  margin-bottom: 0.35em;
}
